:root {
    --dark-blue: #02589b;
    --dark-blue-light: #0d7fce;
    --dark-blue-shade: #013f7e;

    --light-blue: #2cb7f6;
    --light-blue-light: #68d2f8;
    --light-blue-shade: #009ef5;

    --background-color: #3e77bd;
}